/* admin crud nuevo*/
.crud{
    flex-direction: row;
    width: 100%;
}
.botones1{
    text-align: center;
}
.agregar1{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
.buscar1{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
.actualizar1{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
.eliminar1{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
#add-product-form{
    background: #FBDDD5;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 160px;
    height: 280px;
    flex-direction: row;
}
.cancelar1{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
#search-form{
    background: #FBDDD5;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 160px;
    height: 280px;
    flex-direction: row;
}
#update-form{
    background: #FBDDD5;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 160px;
    height: 280px;
    flex-direction: row;
}

/*estilos para cajas*/
/*body {
    font-family: Arial, sans-serif;
    /*text-align: center;
}
.crud{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 480px;
    margin-top: 60px;
    align-content: stretch;
}
#inventory-section, #add-product-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
}
#add-product-form{
    background: #FBDDD5;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 260px;
    height: 380px;
    flex-direction: row;
}
#product-list {
    list-style-type: none;
}
li {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}
#roduct-form, #product-code {
    border-radius: 6px;
    color: #0d0d0d;
    border: 1px solid #bdbbde;
    margin: 10px;
    padding: 10px;
    /*display: flex;
    
}
#roduct-form, #product-name {
    border-radius: 6px;
    color: #0d0d0d;
    border: 1px solid #bdbbde;
    margin: 10px;
    padding: 10px;
    /*display: flex;
}
#roduct-form, #product-category {
    border-radius: 6px;
    color: #0d0d0d;
    border: 1px solid #bdbbde;
    margin: 10px;
    padding: 10px;
    /*display: flex;
}
#roduct-form, #product-quantity {
    border-radius: 6px;
    color: #0d0d0d;
    border: 1px solid #bdbbde;
    margin: 10px;
    padding: 10px;
    /*display: flex;
}
#btn-agregar{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
#volver{
    float: right;
    background: #bf907e;
    width: 100%;
}
#regreso{
    background: #FBDDD5;
    align-items: center;
    color: #0d0d0d;
    margin: 10px;
    padding: 8px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
#regreso a{
    text-decoration: none;
    color: #0d0d0d;
}
#titulo-p{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
#btn-actualizar{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
#btn-buscar{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
#btn-eliminar{
    background: #5f8c3f;
    align-items: center;
    color: #0d0d0d;
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}
.bordes{
    margin: 16px;
    padding: 14px;
    border: 1px solid  #FBDDD5;
    border-radius: 6px;
}*/