.nav-bar{
    float: right;
    background:  #fbddd5;
    padding: 10px;
    width: 100%;
}
.nav-bar a{
    float: right;
    text-decoration: none;
    color: #0d0d0d;
    margin: 4px;
    padding: 2px;
}